@page
@model LoginModel

@{
    ViewData["Title"] = "تسجيل الدخول";
}


<main role="main" class="inner cover container-fluid">
    <div class="container col-xl-5 col-lg-6 col-md-8 col-sm-11 col-10">
        <section><br /><br />
            
            <form id="account" method="post" class="container text-center"><br />
                <div class="card shadow">
                    <div class="card-header bg-dark text-white">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    <div class="card-body">
                        @*<div asp-validation-summary="All" class="text-danger"></div>*@
                        <div class="form-group">
                            <label asp-for="Input.UserName">اسم المستخدم</label>
                            <input asp-for="Input.UserName" class="form-control" />
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password">كلمة المرور</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>*@
                        <div class="form-group d-grid gap-2">
                            <button type="submit" class="btn btn-dark btn-block">     دخول     </button>
                        </div>
                        @*<div class="form-group"> 
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>*@
                    </div>
                </div>
                
                
            </form>
        </section>
    </div>

    </main>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
