@page
@model RegisterModel
@{
    ViewData["Title"] = "إنشاء حساب";
}


<main role="main" class="inner cover container-fluid">
    <div class="container col-xl-5 col-lg-6 col-md-8 col-sm-11 col-10">
        <section>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="container text-center"><br />
                <div class="card shadow">
                    <div class="card-header bg-dark text-white">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.UserName">اسم المستخدم</label>
                            <input asp-for="Input.UserName" class="form-control" />
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
            
            
                        <div class="form-group">
                            <label asp-for="Input.Email">البريد الألكتروني</label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password">كلمة المرور</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword">تأكيد كلمة المرور</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="Input.Role">الصلاحية</label>
                            <input asp-for="Input.Role" class="form-control" value="Admin" />
                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                        </div>
                        <div class="form-group d-grid gap-2">
                            <button type="submit" class="btn btn-dark btn-block">     تسجيل     </button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
