@model AdminDashBoard.Models.Season

@{
    ViewData["Title"] = "التفاصيل";
}

<h1>التفاصيل</h1>

<div class="col-12">
    <h4>الموسم</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">الاسم
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">تعديل</a> |
    <a asp-action="Index">العودة للمواسم</a>
</div>
