@model AdminDashBoard.Models.Type

@{
    ViewData["Title"] = "تفاصيل";
}

<h1>تفاصيل</h1>

<div class="col-12">
    <h4>النوع</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">الأسم
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">تعديل</a> |
    <a asp-action="Index">العودة للأنواع</a>
</div>
