@model AdminDashBoard.Models.Category

@{
    ViewData["Title"] = "التفاصيل";
}

<h1>Details</h1>

<div class="col-12">
    <h4>الفئة</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            الاسم
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            مسار الصوره
            @*@Html.DisplayNameFor(model => model.ImagePath)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">تعديل</a> |
    <a asp-action="Index">عوده للفئات</a>
</div>
