@model AdminDashBoard.Models.ProductImage

@{
    ViewData["Title"] = "تعديل";
}

<h1>تعديل</h1>

<h4>صوره المنتج</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group col-lg-6">
                <label>المنتج</label>
                @*<label asp-for="ProductId" class="control-label"></label>*@
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label>مسار الصوره</label>
                @*<label asp-for="ImagePath" class="control-label"></label>*@
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <img src="@Model.ImagePath" style="width:200px; height:200px;" class="rounded-circle"/>
            </div>
            <div class="form-group col-lg-6">
                <input type="submit" value="          حفظ          " class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">العوده للصور</a>
</div>

